.selectBlock {
  margin-bottom: var(--gap32);
}

@media (max-width: 992px) {
  .selectBlock {
    box-shadow: none;
  }
}

@media (max-width: 992px) {
  .selectBlock {
    display: none;
  }
}

.footer {
  z-index: 19;
  position: sticky;
  top: 88px;
}

.footer .buttonWrap{
  display: none;
  max-width: var(--container-width-mobile);
  margin: 0 auto;
  padding: 0 var(--gap24);
  box-sizing: content-box;
  margin-bottom: var(--gap24);
}

@media (max-width: 992px) {
  .footer {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    z-index: 22;
    background-color: var(--color-white);
    padding: var(--gap16) 0;
    max-height: calc(var(--app-height) - 68px);
  }

  .footer .buttonWrap{
    display: block;
    margin-bottom: 0;
  }
}

@media (orientation: landscape) and (max-width: 992px) {
  .footer.active .selectElem {
    overflow-y: auto;
  }
}

@media (max-width: 992px) {
  .footer .selectBlock {
    display: block;
    position: fixed;
    width: 100%;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform var(--transition-time);
  }
  
  .footer.active .selectBlock {
    pointer-events: initial;
    margin-bottom: 0;
    bottom: 0;
    box-shadow: none;
    transform: translateY(0);
  }
  
  .footer.active .selectBlock::after {
    content: '';
    position: absolute;
    top: 10px;
    left: calc(50% - 16px);
    transform: translate(0, -50%);
    width: 32px;
    height: 4px;
    background: var(--color-warm-gray-12);
    border-radius: 30px;
    z-index: 2;
  }
  
  .footer.active .buttonWrap{
    pointer-events: none;
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  z-index: 21;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-black);
  opacity: 0.4;
}

.button {
  min-height: 44px;
  font-size: 16px;
  line-height: 22px;
  padding: 13px 16px;
}

@media (max-width: 992px) {
  .selectElem {
    box-shadow: none;
    height: calc(var(--app-height) - 68px);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 0 0;
    margin-left: -24px;
    margin-right: -24px;
  }
}