.root {
  position: fixed;
  margin-top: 64px;
  height: calc(100% - 48px);
  background-color: var(--color-white);
  padding-top: var(--gap20);
  z-index: 23;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  top: -70px;
	padding-bottom: 70px;
	transform: translateY(70px);
}

.title {
  margin-bottom: var(--gap20);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin-bottom: var(--gap16);
}

.listItem:last-child {
  margin-bottom: 0;
}

.block {
  margin-bottom: var(--gap32);
}

.block:last-child {
  margin-bottom: 0;
}

.footer {
  margin-top: var(--gap40);
  margin-bottom: var(--gap32);
}