.root {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rootItem {
  margin-bottom: var(--gap4);
}

.listItem:last-child {
  margin-bottom: 0;
}

.link {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px var(--gap16);
  border-radius: 6px;
  color: var(--color-muted);
}

.link.active, .link:hover {
  background-color: var(--color-biege);
  color: var(--color-black);
}
