.root {
  margin-bottom: 96px;
}

@media (max-width: 992px) {
  .root {
    margin-bottom: var(--gap44);
  }
}

.title {
  margin-bottom: var(--gap20);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap12);
  }
}

.description {
  margin-bottom: var(--gap48);
}

@media (max-width: 1200px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: var(--gap40);
  }
}

@media (max-width: 992px) {
  .description {
    margin-bottom: var(--gap28);
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--gap24);
}

@media (max-width: 992px) {
  .row {
    grid-template-columns: 100%;
    row-gap: var(--gap16);
  }
}