.root {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0;
  transition: color var(--transition-time), background-color var(--transition-time);
}

/* primary  */
.primary {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 8px;
}

.primary:hover {
  background-color: var(--color-blue-hover);
}

.primary:active {
  background-color: var(--color-blue-active);
}

.bordered {
  border: 1px solid var(--color-warm-gray-12);
  border-radius: 20px; 
  color: var(--color-black);
}

.bordered:hover {
  background-color: var(--color-biege);
  border-color: var(--color-biege);
}


/* sizes */

.small {
  padding: 11px var(--gap16);
  min-height: 44px;
  font-size: 16px;
  line-height: 22px;
}

.medium {
  padding: 14px var(--gap24);
  min-height: 50px;
  font-size: 16px;
  line-height: 22px;
}

.large {
  padding: 15px var(--gap24);
  min-height: 56px;
  font-size: 20px;
  line-height: 26px;
}

.extra-large {
  padding: 0 var(--gap24);
  min-height: 64px;
  font-size: 16px;
  line-height: 22px;
}

.ghost {
  padding: 0;
  margin: 0;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-self: center;
}

.fullWidth {
  width: 100%;
}