.root {
  margin: 0;
}

.size-small {
  font-size: 14px;
  line-height: 18px;
}

.size-medium {
  font-size: 16px;
  line-height: 22px;
}

.size-large {
  font-size: 20px;
  line-height: 26px;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  font-weight: 700;
}

.muted {
  color: var(--color-muted);
}