.root {
  margin-bottom: 84px;
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 84px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
  }
}

.subTitle {
  margin-bottom: var(--gap12);
}

@media (max-width: 1200px) {
  .subTitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: var(--gap8);
  }
}

.title {
  margin-bottom: var(--gap24);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap20);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: var(--gap20);
  }
}

.description {
  margin-bottom: var(--gap32);
  max-width: 500px;
}

@media (max-width: 1200px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: var(--gap20);
  }
}

@media (max-width: 992px) {
  .description br{
    display: none;
  }
}

.row {
  display: flex;
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }
}

.cell {
  margin-right: 78px;
}

@media (max-width: 992px) {
  .cell {
    margin-right: 0;
    order: 1;
  }
}

.imgBlock {
  position: relative;
}

.imgBlock img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .imgBlock {
    order: 0;
    margin-bottom: var(--gap44);
  }
}

@media (max-width: 992px) {
  .button {
    min-height: 44px;
    font-size: 16px;
    line-height: 22px;
    padding: 0 var(--gap16);
  }
}

.button a{
  color: var(--color-white);
}
