.root {
  position: relative;
  border: none;
  overflow-y: auto;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: auto;

  resize: none;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  padding: 0;
  max-height: 347px;
  min-height: 58px;
  width: 100%;
  outline: none;
  transition: box-shadow var(--transition-time);
}

@media (max-width: 992px) {
  .root {
    max-height: 247px;
  }
}

.root:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 24px rgba(0, 0, 0, 0.12);
}

.root:focus::placeholder {
  color: transparent;
}

.root::placeholder {
  color: var(--color-muted);
}
