.root {
  background: var(--color-biege);
  border-radius: 20px;
  padding: 54px 64px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  min-height: 564px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .root {
    padding: 40px var(--gap48);
    padding-bottom: 40px;
    min-height: 452px;
  }
}

@media (max-width: 992px) {
  .root {
    padding: var(--gap32) var(--gap24);
    padding-bottom: var(--gap32);
    margin: 0 -24px;
    border-radius: 0;
  }
}

.background {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: bottom center;
  user-select: none;
  width: 76%;
}

@media (max-width: 992px) {
  .background {
    width: 110%;
    height: 100%;
  }
}

.content {
  position: relative;
  margin-bottom: var(--gap24);
}

.title {
  margin-bottom: var(--gap24);
}

@media (max-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap12);
  }
}

.description {
  max-width: 663px;
  margin-bottom: var(--gap28);
}

@media (max-width: 1200px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: var(--gap20);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: var(--gap24);
}

@media (max-width: 1200px) {
  .list {
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .list {
    margin-bottom: var(--gap12);
  }
}

.listItem {
  margin-right: var(--gap24);
  display: flex;
}

.listItem:last-child {
  margin-right: 0;
}

@media (max-width: 992px) {
  .listItem {
    margin-right: 0;
    margin-bottom: var(--gap8);
  }

  .listItem:last-child {
    margin-bottom: 0;
  }
}

.image {
  margin-right: var(--gap8);
}

.imgList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.imgItem {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid var(--color-biege);
  margin-right: -15px;
  box-sizing: content-box;
}

@media (max-width: 1200px) {
  .imgItem {
    width: 40px;
    height: 40px;
    margin-right: -11px;
  }
}

.imgItem img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .imgItem img {
    width: 40px;
    height: 40px;
  }
}

.countWrap {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap32);
}

.counItem {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  border-radius: 100px;
  padding: var(--gap16);
  background-color: var(--color-white);
  margin-right: var(--gap16);
  white-space: nowrap;
  min-width: 42px;
  flex-shrink: 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .counItem {
    padding: var(--gap12) var(--gap8);
  }
}


.footer {
  margin-top: auto;
}

.contentList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 64px;
  align-items: center;
}

@media (max-width: 1200px) {
  .contentList {
    column-gap: 48px;   
  }
}

@media (max-width: 992px) {
  .contentList {
    display: flex;
    column-gap: 0;   
  }
}


.contentItem {
  position: relative;
}

.contentItem::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 56px;
  right: 0;
  top: 0;
  background-color: var(--color-muted);
  opacity: 0.25;
}

.contentItem:last-child::after {
  display: none;
}

@media (max-width: 1200px) {
  .contentItem::after {
    height: 50px;
  }
}

@media (max-width: 992px) {
  .contentItem {
    padding-right: var(--gap32);
  }

  .contentItem:last-child {
    padding-right: 0;
  }

  .contentItem::after {
    display: none;
  }
}

.contentTitle {
  margin-bottom: 2px;
}

@media (max-width: 1200px) {
  .contentTitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
}

.contentDescriotion {
  position: relative;
}

@media (max-width: 1200px) {
  .contentDescriotion {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 1200px) {
  .button {
    font-size: 16px;
    line-height: 22px;
    min-height: 50px;
    padding: 0 24px;
  }
}

@media (max-width: 992px) {
  .button {
    font-size: 16px;
    line-height: 22px;
    min-height: 44px;
    padding: 0 24px;
  }
}

@media (max-width: 992px) {
  .buttonWrapper {
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: var(--gap16) 0;
    background-color:  var(--color-white);
  }

  .container {
    max-width: var(--container-width-mobile);
    margin: 0 auto;
    padding: 0 var(--gap24);
    box-sizing: content-box;
  }

  .button {
    min-height: 44px;
    width: 100%;
  }
}

.container {
  transition: padding var(--transition-time), width var(--transition-time);
}

.fixedContent {
  display: none;
}

@media (min-width: 992px) {
  .fixedContent {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--color-white);
    z-index: 19;
    transition: top var(--transition-time), box-shadow var(--transition-time);
  }
  .fixedContent.active {
    top: 88px;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 16%);
  }
}


.fixedContent .container{
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--gap24);
  box-sizing: content-box;
  border-top: 1px solid var(--color-warm-gray-12);
  padding: var(--gap20) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .fixedContent .container {
    max-width: var(--container-width-tablet);
  }
}

.categories {
  display: none;
}

.fixedContent .categories {
  display: block;
}

.categories .list{
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .textItem {
    font-size: 14px;
    line-height: 18px;
  }
}

