.root {
  margin-bottom: 120px;
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
  }
}

.title {
  margin-bottom: var(--gap48);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap40);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap28);
  }
}

.carousel {
  position: relative;
}

@media (max-width: 992px) {
  .carousel {
    margin-left: -24px;
    margin-right: -24px;
  }
  .carouselItem {
    padding: 0 24px;
  }
}

