.root {
  margin-bottom: 88px;
  position: sticky;
  z-index: 19;
  top: 88px;
  background-color: var(--color-white);
}

@media (min-width: 992px) {
  .root.active .block {
    box-shadow: none;
    border-color: var(--color-warm-gray-12);
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
 }

 .root.active {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  }
}

@media (max-width: 992px) {
  .root {
    position: static;
    margin-bottom: var(--gap44);
    background-color: transparent;
  }
}

.block {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background-color: var(--color-white);
  padding: var(--gap8) var(--gap32);
  min-height: 90px;
  display: grid;
  grid-template-columns: 25.5% 25.5% 25.5% minmax(min(234px, 100%), auto);
  align-items: center;
  border-top: 1px solid transparent;
  transition: padding 0.05s;
}

@media (max-width: 1200px) {
  .block {
    grid-template-columns: 25% 25% 25% minmax(min(187px, 100%), auto);
  }
}

@media (max-width: 992px) {
  .block {
    grid-template-columns: 100%;
    padding: var(--gap24);
    border-radius: 12px;
    /* box-shadow: none; */
  }
}

.cell {
  padding-right: var(--gap24);
  padding-left: var(--gap24);
  position: relative;
}

.cell::after {
  content: '';
  position: absolute;
  background-color: var(--color-warm-gray-12);
  height: 56px;
  width: 1px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cell:first-child {
  padding-left: 0;
}

.cell:first-child::after {
  display: none;
}

.cell:last-child::after {
  display: none;
}

.cell:last-child {
  padding-right: 0;
  width: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .cell {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: var(--gap16);
    padding-top: var(--gap16);
    width: 100%;
  }
  .cell::after {
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    margin: 0;
  }
  .cell:last-child {
    width: 100%;
    padding-bottom: var(--gap8);
  }
  .cell:first-child {
    padding-top: 0;
  }
}

.button {
  position: relative;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .button {
    min-height: 50px;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 16px;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .button {
    min-height: 44px;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 16px;
    width: 100%;
  }
}

.select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 992px) {
  .cellLast {
    margin-top: auto;
  }
}


