.root {
  margin-bottom: 140px;
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
  }
}


.title {
  margin-bottom: var(--gap48);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap40);
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--gap12);
}

@media (max-width: 992px) {
  .list {
    grid-template-columns: 100%;
    row-gap: var(--gap24);
  }
}

.listItem {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .listItem {
    display: flex;
    flex-direction: row;
  }
}

.imageWrapper {
  height: 148px;
  margin-bottom: var(--gap24);
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .imageWrapper {
    height: 106px;
  }
}

@media (max-width: 992px) {
  .imageWrapper {
    height: 57px;
    width: 57px;
    flex-shrink: 0;
    margin-right: var(--gap28);
    margin-bottom: 0;
  }
}

.image {
  display: block;
}

@media (max-width: 1200px) {
  .image {
    max-height: 80%;
    width: auto;
  }
}

@media (max-width: 992px) {
  .image {
    max-height: auto;
    width: 100%;
  }
}

.text {
  white-space: pre-line;
}

@media (max-width: 992px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}