.root {
  position: relative;
  background: var(--color-biege);
  border-radius: 20px;
  overflow: hidden;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--gap32);
  color: var(--color-black);
  will-change: transform;
}

.root::before { 
  content:"";
  position:absolute; top:0;right:0;bottom:0;left:0;
  background:inherit;
  transition: transform var(--transition-time);
}

.root:hover::before { 
  transform: scale(1.1);
}

.index1 {
  background-image: url('../../../../../public/background/story1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index2 {
  background-image: url('../../../../../public/background/story2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index3 {
  background-image: url('../../../../../public/background/story3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.root:hover {
  color: var(--color-black);
}

.root:hover .backround {
  transform: scale(1.1);
}

.root:hover .text {
  color: var(--color-red);
}

.root:hover .playIcon {
  background-color: var(--color-red);
}

.root.dark {
  color: var(--color-white)
}

@media (max-width: 1200px) {
  .root {
    min-height: 360px;
  }
}

@media (max-width: 992px) {
  .root {
    padding: var(--gap24) var(--gap20);
  }
}

.title {
  margin-bottom: var(--gap8);
}

@media (max-width: 1200px) {
  .title {
    font-size: 18px;
    line-height: 22px;
  }
}

.bitTitle {
  font-size: 44px;
  line-height: 50px;
}

@media (max-width: 1200px) {
  .bitTitle  {
    font-size: 32px;
    line-height: 36px;
  }
}

.backround {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  transition: transform var(--transition-time);
}

.content {
  position: relative;
  z-index: 1;
}

.footer {
  display: flex;
  position: relative;
  z-index: 1;
}

@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
  }
}

.footerImg {
  flex-shrink: 0;
  border-radius: 100%;
  display: inline-block;
  margin-right: var(--gap16);
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .footerImg {
    margin-bottom: var(--gap16);
  }
}

.playIcon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: var(--gap16);
  background-color: var(--color-blue);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: background-color var(--transition-time);
}

@media (max-width: 1200px) {
  .playIcon {
    margin-bottom: var(--gap16);
  }
}

.text {
  margin-bottom: var(--gap4);
  transition: color var(--transition-time);
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  text-indent: -9999px;
}