.root {
  margin-bottom: 120px;
  padding: 96px 0;
  background-color: var(--color-biege);
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
    padding: 40px 0;
  }
}

.title {
  margin-bottom: var(--gap20);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap12);
  }
}

.description {
  margin-bottom: var(--gap40);
  max-width: 360px;
}

@media (max-width: 992px) {
  .description {
    margin-bottom: var(--gap24);
  }
}

.row {
  display: flex;
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
}

.aside {
  max-width: 388px;
  width: 100%;
  flex-shrink: 0;
  margin-right: var(--gap36);
}

@media (max-width: 1200px) {
  .aside {
    max-width: 100%;
    margin-right: 0;
  }
}

.cell {
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  position: relative;
}

@media (max-width: 992px) {
  .listItem::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-warm-gray);
  }

  .listItem:last-child::after {
    display: none;
  }
}


.link {
  display: flex;
  align-items: center;
  margin: 0 -32px;
  padding: var(--gap12) var(--gap32);
}

.link:hover {
  color: var(--color-black);
  background-color: #F7F7F5;
}

@media (max-width: 992px) {
  .link {
    display: flex;
    align-items: center;
    margin: 0 -20px;
    padding: var(--gap12) var(--gap20);
  }
}

.icon {
  margin-right: 10px;
  padding-top: 3px;
  margin-bottom: auto;
}

.text {
  font-size: 16px;
  line-height: 24px;
}