@import-normalize;

* {
  outline-color: var(--color-blue-outline);
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: var(--color-black);
  text-decoration: none;
  transition: color var(--transition-time);
}

a:hover {
  color: var(--color-red);
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--gap24);
  box-sizing: content-box;
}

@media (max-width: 1200px) {
  .container  {
    max-width: var(--container-width-tablet);
  }
}

@media (max-width: 992px) {
  .container  {
    max-width: var(--container-width-mobile);
  }
}

.swiper-button-next, .swiper-button-prev {
  display: inline-block;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  height: 48px;
  transition: background-color var(--transition-time), box-shadow var(--transition-time), border-color var(--transition-time);
}

.rounded-nav .swiper-button-next,  .rounded-nav .swiper-button-prev{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-shadow: 0px 4px 12px rgba(87, 72, 43, 0.2), 0px 2px 3px rgba(97, 79, 46, 0.1);
}

.square-nav .swiper-button-next, .square-nav .swiper-button-prev {
  width: 40px;
  height: 88px;
  border-radius: 12px;
} 

.square-nav .swiper-button-next:hover, .square-nav .swiper-button-prev:hover {
  box-shadow: 0px 4px 12px rgba(87, 72, 43, 0.2), 0px 2px 3px rgba(97, 79, 46, 0.1);
}

.rounded-nav .swiper-button-next {
  right: -24px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.93944 12.0017L5.44117 12.5623L6.56228 13.5588L7.06056 12.9983L5.93944 12.0017ZM10.5 8L11.0606 8.49827L11.5035 8L11.0606 7.50173L10.5 8ZM7.06056 3.00173L6.56228 2.44117L5.44117 3.43772L5.93944 3.99827L7.06056 3.00173ZM7.06056 12.9983L11.0606 8.49827L9.93944 7.50173L5.93944 12.0017L7.06056 12.9983ZM11.0606 7.50173L7.06056 3.00173L5.93944 3.99827L9.93944 8.49827L11.0606 7.50173Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.rounded-nav .swiper-button-prev {
  left: -24px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0859 17.4273C13.4114 17.1019 13.4114 16.5742 13.0859 16.2488L7.84186 11.0047L13.0859 5.76064C13.4114 5.43521 13.4114 4.90757 13.0859 4.58213C12.7605 4.25669 12.2329 4.25669 11.9074 4.58213L6.07409 10.4155C5.74866 10.7409 5.74866 11.2685 6.07409 11.594L11.9074 17.4273C12.2329 17.7527 12.7605 17.7527 13.0859 17.4273Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.rounded-nav .swiper-button-next:hover, .rounded-nav .swiper-button-prev:hover {
  background-color: var(--color-biege);
}

.square-nav .swiper-button-next {
  right: -48px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.93944 12.0017L5.44117 12.5623L6.56228 13.5588L7.06056 12.9983L5.93944 12.0017ZM10.5 8L11.0606 8.49827L11.5035 8L11.0606 7.50173L10.5 8ZM7.06056 3.00173L6.56228 2.44117L5.44117 3.43772L5.93944 3.99827L7.06056 3.00173ZM7.06056 12.9983L11.0606 8.49827L9.93944 7.50173L5.93944 12.0017L7.06056 12.9983ZM11.0606 7.50173L7.06056 3.00173L5.93944 3.99827L9.93944 8.49827L11.0606 7.50173Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.square-nav .swiper-button-prev {
  left: -48px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0859 17.4273C13.4114 17.1019 13.4114 16.5742 13.0859 16.2488L7.84186 11.0047L13.0859 5.76064C13.4114 5.43521 13.4114 4.90757 13.0859 4.58213C12.7605 4.25669 12.2329 4.25669 11.9074 4.58213L6.07409 10.4155C5.74866 10.7409 5.74866 11.2685 6.07409 11.594L11.9074 17.4273C12.2329 17.7527 12.7605 17.7527 13.0859 17.4273Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}


.swiper-button-disabled {
  display: none !important;
}

.swiper-wrapper, .swiper {
  position: static !important;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width: 992px) {
  .popup-content {
    margin: auto auto 0 auto !important;
  }  
}
