:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #00AAFF;
  --color-blue-hover: #0099F7;
  --color-blue-active: #008AED;
  --color-blue-outline: #80D4FF;

  --color-red: #FF6163;

  --color-warm-gray: #F2F1F0;
  --color-warm-gray-12: #E3E2E1;

  --color-biege: #F2EFE9;

  --color-muted: #858585;
  

  --gap4: 4px;
  --gap8: 8px;
  --gap12: 12px;
  --gap16: 16px;
  --gap20: 20px;
  --gap24: 24px;
  --gap28: 28px;
  --gap32: 32px;
  --gap36: 36px;
  --gap40: 40px;
  --gap44: 44px;
  --gap48: 48px;

  --container-width: 1256px;
  --container-width-tablet: 916px;
  --container-width-mobile: 520px;

  --transition-time: 0.15s;
}

/* 
  media queries

  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px 
*/