.root {
  margin-bottom: 120px;
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 96px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
  }
}


.title {
  margin-bottom: var(--gap48);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap40);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap24);
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--gap16);
  row-gap: var(--gap44);
}

@media (max-width: 1200px) {
  .row {
    column-gap: 89px;
  }
}

@media (max-width: 992px) {
  .row {
    grid-template-columns: 100%;
    row-gap: var(--gap24);
  }
}

.cell {
  position: relative;
  max-width: 305px;
}

@media (max-width: 992px) {
  .cell {
    display: flex;
  }
}

.subTitle {
  margin-bottom: var(--gap12);
}

@media (max-width: 1200px) {
  .subTitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .subTitle {
    display: none;
  }
}

.image {
  margin-bottom: var(--gap24);
}

@media (max-width: 992px) {
  .image {
    width: 57px;
    height: 57px;
    margin-right: 28px;
  }
}

.text {
  position: relative;
}

@media (max-width: 1200px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--gap36);
  position: relative;
}

.nav::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-warm-gray-12);
  z-index: 1;
}

.navItem {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-right: 19px;
  color: var(--color-muted);
  position: relative;
  padding: 6px 0;
}

.navItem.active {
  color: var(--color-black);
}

.navItem.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-black);
  z-index: 2;
}