.root {
  margin: 0;
}

.level-1 {
  font-size: 56px;
  line-height: 60px;
}

.level-2 {
  font-size: 44px;
  line-height: 50px;
}

.level-3 {
  font-size: 32px;
  line-height: 36px;
}

.level-4 {
  font-size: 25px;
  line-height: 30px;
}

.level-5 {
  font-size: 20px;
  line-height: 26px;
}

.level-6 {
  font-size: 18px;
  line-height: 22px;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-bold {
  font-weight: 700;
}