.mobileFooter {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 19;
  bottom: 0;
  left: 0;
  padding: var(--gap16) 0;
  background-color: var(--color-white);
  bottom: -120px;
  padding-bottom: 70px;
  transform: translateY(-70px);
  z-index: 21;
}

@media (max-width: 992px) {
  .mobileFooter.active {
    display: block;
  } 
}