.root {
  position: relative;
}

.list {
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
  max-height: 342px;
  overflow-y: auto;
  position: absolute;
  width: calc(100% + 40px);
  left: -20px;
  top: 100%;
  margin-top: 28px;
  background-color: var(--color-white);
  visibility: hidden;
  outline: none;
}

@media (max-width: 992px) {
  .list {
    margin-top: var(--gap12);
  }
}

.list.active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  z-index: 21;
  visibility: visible;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--gap12);
  bottom: 0;
  color: var(--color-black);
  pointer-events: none;
  transform-origin: center;
  margin-bottom: -5px;
}

@media (max-width: 992px) {
  .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.icon.active {
  transform: rotate(180deg);
  color: var(--color-muted);
}

.value {
  width: 100%;
  border-radius: 0;
  border: none;
  min-height: 52px;
  padding-left: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 20px;
  line-height: 26px;
  outline: none;
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  color: var(--color-black);
}

@media (max-width: 1200px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.value.active {
  border-color: #ccc;
}

.label {
  position: relative;
  color: var(--color-muted);
  font-size: 16px;
  line-height: 22px;
  height: 20px;
  pointer-events: none;
  margin-bottom: var(--gap8);
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-align: left;
}

@media (max-width: 1200px) {
  .label {
    font-size: 14px;
    line-height: 18px;
  }
}

.option {
  padding: 10px 20px;
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  transition: background-color var(--transition-time);
}

.option.active {
  background-color: var(--color-warm-gray);
}

@media (max-width: 1200px) {
  .option {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px;
  }
}

.wrapper {
  position: relative;
}

@media (max-width: 992px) {
  .wrapper {
    position: static;
  }
}

.wrap {
  display: flex;
  align-items: center;
  max-width: 100%;
}


