.root {
  max-width: 400px;
  min-width: 320px;
  width: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  background-color: var(--color-white);
  padding: var(--gap32);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin-bottom: var(--gap20);
  white-space: nowrap;
}

.listItem:last-child {
  margin-bottom: 0;
}

.description {
  padding-top: var(--gap24);
  margin-top: var(--gap36);
  border-top: 1px solid var(--color-warm-gray-12);
}

.text {
  white-space: pre-wrap;
}