.root {
  background-color: var(--color-biege);
  padding: 96px 0;
}

@media (max-width: 992px) {
  .root {
    padding: 44px 0;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--gap32);
  row-gap: 64px;
}

@media (max-width: 992px) {
  .row {
    grid-template-columns: 100%;
    row-gap: var(--gap32);
  }
}

.title {
  margin-bottom: var(--gap24);
}

@media (max-width: 1200px) {
  .title {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 18px;
    line-height: 22px;
  }
  .titleSub {
    margin-bottom: var(--gap12);
  }
}

.cellEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .cellEnd {
    order: 5;
  }
  .cellMiddle {
    order: 3;
    position: relative;
    padding-top: var(--gap32);
    border-top: 1px solid var(--color-warm-gray-12);
  }
  .cellSocials {
    order: 4;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin-bottom: var(--gap16);
}

.listItem:last-child {
  margin-bottom: 0;
}

.listItem a:hover span {
  color: var(--color-red);
}

@media (max-width: 1200px) {
  .logo img {
    width: 130px;
  }
}

@media (max-width: 992px) {
  .logo img {
    width: 106px;
  }
}


.block {
  position: relative;
}

@media (max-width: 992px) {
  .block {
    margin-bottom: var(--gap8);
  }
}