.root {
  height: 88px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border: 0;
  padding: 0;
  border-radius: 12px;
  cursor: pointer;
  margin: 4px auto;
  color: var(--color-black);
  transition: background-color var(--transition-time), box-shadow var(--transition-time), border-color var(--transition-time);
}

@media (max-width: 992px) {
  .root {
    height: 56px;
    width: 51px;
  }
}

.root:hover {
  box-shadow: 0px 1px 2px rgba(87, 72, 43, 0.2), 0px 2px 3px rgba(97, 79, 46, 0.1);
}

@media (max-width: 992px) {
  .root:hover {
    box-shadow: none;
  }
}

.root.active {
  background-color: var(--color-biege);
  box-shadow: none;
}

.root.disabled {
  color: var(--color-muted);
  cursor: auto;
}

.subText {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: var(--gap4);
}

@media (max-width: 992px) {
  .subText {
    font-size: 12px;
    line-height: 16px;
  }
}

.text {
  font-size: 25px;
  line-height: 30px;
}

@media (max-width: 992px) {
  .text {
    font-size: 18px;
    line-height: 22px;
  }
}