.root {
  margin-bottom: 120px;
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
  }
}

.title {
  margin-bottom: var(--gap48);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap24);
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--gap36);
}

@media (max-width: 1200px) {
  .list {
    column-gap: var(--gap32);
  }
}

@media (max-width: 992px) {
  .list {
    grid-template-columns: 100%;
    row-gap: var(--gap24);
  }
}

.listItem {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .listItem {
    flex-direction: row;
  }
}

.image {
  display: block;
  margin-bottom: var(--gap32);
  width: 72px;
  height: 72px;
}


@media (max-width: 992px) {
  .image {
    width: 57px;
    height: 57px;
    margin-right: var(--gap24);
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}