.closeButton {
  position: absolute;
  color: var(--color-black);
  right: -52px;
  top: -16px;
  width: 48px;
  height: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var();
  color: var(--color-white);
  outline: none;
}

.closeButton svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 992px) {
  .closeButton {
    display: none;
  }
}

.root-content {
  max-width: 470px;
  width: 100%;
}

