.root {
  margin-bottom: 120px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
  }
}

.title {
  margin-bottom: var(--gap20);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap12);
  }
}

.description {
  position: relative;
}

.row {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 347px 1fr;
  column-gap: 76px;
}

@media (max-width: 1200px) {
  .row {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    margin-bottom: var(--gap40);
  }
}

.cell {
  width: 100%;
  max-width: 833px;
}

@media (max-width: 1200px) {
  .cell {
    width: 100%;
    max-width: 100%;
  }
}

.carousel {
  margin-bottom: var(--gap24);
  padding: 0 48px;
}

@media (max-width: 992px) {
  .carousel {
    padding: 0;
    margin: 0 -24px;
    margin-bottom: var(--gap20);
  }
}

.carouselItem {
  padding: 0 var(--gap4);
}


@media (max-width: 992px) {
  .button {
    min-height: 44px;
    border-radius: 12px;
  }
}
