.root {
  margin-bottom: 96px;
}

@media (max-width: 992px) {
  .root {
    margin-bottom: var(--gap44);
  }
}

.title {
  margin-bottom: var(--gap20);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap12);
  }
}

.description {
  margin-bottom: var(--gap48);
}

@media (max-width: 1200px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: var(--gap40);
  }
}

@media (max-width: 992px) {
  .description {
    margin-bottom: var(--gap28);
  }
}

.subTitle {
  margin-bottom: var(--gap28);
}

.row {
  display: flex;
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
}

.sidebar {
  max-width: 347px;
  width: 100%;
  flex-shrink: 0;
  margin-right: 76px;
}

@media (max-width: 1200px) {
  .sidebar {
    max-width: 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: var(--gap16) var(--gap32);
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .sidebar {
    grid-template-columns: 100%;
    display: grid;
    padding: var(--gap16) var(--gap20);
  }
}

.cell {
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin-bottom: var(--gap4);
}

.listItem:last-child {
  margin-bottom: 0;
}

.link {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px var(--gap16);
  border-radius: 6px;
  color: var(--color-muted);
}

.link:hover {
  background-color: var(--color-biege);
  color: var(--color-black);
}

.block {
  margin-bottom: var(--gap24);
  position: relative;
  box-sizing: content-box;
  width: 100%;
}

.block:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .block {
    margin-bottom: 0;
  }

  .block {
    padding-right: var(--gap32);
    margin-right: var(--gap32);
  }

  .block:last-child {
    padding-right: 0;
    margin-right: 0;
  }

  .block::after {
    content: '';
    width: 1px;
    height: 56px;
    background-color: var(--color-warm-gray-12);
    position: absolute;
    top: 0;
    right: 0;
  }

  .block:last-child::after {
    display: none;
  }
}

@media (max-width: 992px) {
  .block:first-child {
    padding-right: 0;
    margin-right: 0;
  }
  
  .block {
    padding-right: 0;
    padding-bottom: var(--gap16);
    margin-bottom: var(--gap16);
  }

  .block:last-child {
    padding: 0;
    margin: 0;
  }

  .block::after {
    width: 100%;
    height: 1px;
    bottom: 0;
    top: auto;
    left: 0;
  }
}

.desktop {
  display: block;
}

@media (max-width: 1200px) {
  .desktop {
    display: none;
  }
}

.tablet {
  display: none;
}

@media (max-width: 1200px) {
  .tablet {
    display: block;
  }
}

@media (max-width: 992px) {
  .button {
    min-height: 44px;
    border-radius: 12px;
  }
}
