.root {
  position: relative;
  margin-bottom: var(--gap16);
}

.banner {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
  z-index: 1;
}

@media (max-width: 992px) {
  .banner {
    margin-left: -24px;
    margin-right: -24px;
    border-radius: 0;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 56px 64px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .content {
    padding: 40px 48px;
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .content {
    padding: var(--gap32) var(--gap24);
  }
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: right center;
}

.title {
  margin-bottom: var(--gap24);
  max-width: 500px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: var(--gap16);
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap12);
    max-width: 290px;
  }
}

.description {
  margin-bottom: 52px;
  max-width: 390px;
}

@media (max-width: 1200px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 34px;
    max-width: 350px;
  }
}

@media (max-width: 992px) {
  .description {
    font-size: 14px;
    line-height: 18px;
  }
}

.row {
  display: flex;
}

.cell {
  margin-right: 70px;
}

@media (max-width: 992px) {
  .cell {
    margin-right: var(--gap32);
  }
}

.cell:last-child {
  margin-right: 0;
}

.text {
  opacity: 0.7;
}

@media (max-width: 992px) {
  .text {
    font-size: 12px;
    line-height: 16px;
  }
}

.subTitle {
  margin-bottom: var(--gap8);
}

@media (max-width: 1200px) { 
  .subTitle {
    font-size: 20px;
    line-height: 26px;
  }
}

.carousel {
  width: 100%;
  height: 100%;
  left: 0;
}

.carouselItem {
  position: relative;
  height: 464px;
}

@media (max-width: 1200px) {
  .carouselItem {
    min-height: 372px;
    height: auto;
  }
}

@media (max-width: 992px) {
  .carouselItem {
    min-height: 450px;
  }
}


.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
}