.root {
  background-color: var(--color-white);
  border-radius: 20px;
  margin-bottom: var(--gap12);
  transition: background-color var(--transition-time), box-shadow var(--transition-time), border-color var(--transition-time);
  color: var(--color-black);
}

.root.full {
  cursor: pointer;
}

.root.full:hover .icon {
  color: var(--color-black);
}

.root.bordered {
  border: 1px solid var(--color-biege);
}

.root.bordered:hover {
  background-color: var(--color-biege);
}

.root.shadow.hover:hover {
  box-shadow: 0px 4px 12px rgba(87, 72, 43, 0.1), 0px 2px 3px rgba(97, 79, 46, 0.1);
}

.root.shadow.active {
  box-shadow: 0px 4px 12px rgba(87, 72, 43, 0.1), 0px 2px 3px rgba(97, 79, 46, 0.1);
}


.root:last-child {
  margin-bottom: 0;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--gap28) var(--gap32);
}

.button:hover .icon{
  color: var(--color-black);
}

@media (max-width: 992px) {
  .button {
    padding: var(--gap20);
  }
}

.title {
  position: relative;
  text-align: left;
  margin-right: var(--gap12);
  color: var(--color-black);
}

@media (max-width: 992px) {
  .title {
    font-size: 16px;
    line-height: 24px;
  }
}

.icon {
  display: flex;
  align-self: center;
  justify-content: center;
  transform-origin: center;
  margin-bottom: auto;
  margin-top: var(--gap4);
}

.icon.active {
  transform: rotate(180deg);
  color: var(--color-muted);
}

.content {
  padding: 0 var(--gap32);
  padding-bottom: var(--gap32);
  color: var(--color-black);
}

@media (max-width: 992px) {
  .content {
    padding: 0 var(--gap20);
    padding-bottom: var(--gap20);
  }
}