.root {
  margin-bottom: 120px;
}

@media (max-width: 1200px) {
  .root {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .root {
    margin-bottom: 60px;
  }
}

.title {
  margin-bottom: var(--gap36);
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap28);
  }
}

.row {
  display: flex;
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
}

.aside {
  max-width: 388px;
  width: 100%;
  flex-shrink: 0;
  margin-right: var(--gap36);
}

@media (max-width: 1200px) {
  .aside {
    max-width: 100%;
    margin-right: 0;
  }
}

.cell {
  width: 100%;
}