.root {
  margin-bottom: 96px;
}

@media (max-width: 992px) {
  .root {
    margin-bottom: var(--gap44);
  }
}

.title {
  color: var(--color-muted);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: var(--gap8);
}

@media (max-width: 992px) {
  .title {
    text-align: left;
  }
}

.list {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--gap12);
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar { 
  display: none;
}

@media (max-width: 992px) {
  .list {
    grid-template-columns: 145px 145px 145px 145px;
    overflow: -moz-scrollbars-none;
    overflow-x: auto;
    margin: 0 -24px;
    padding: 0 24px;
    -webkit-overflow-scrolling:touch;
  }
}

.listItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 148px;
}

@media (max-width: 1200px) {
  .listItem {
    min-height: 119px;
  }
}

@media (max-width: 992px) {
  .listItem {
    min-height: 85px;
  }
}

.link {
  display: block;
  padding: var(--gap24) 0;
  color: var(--color-muted);
  transition: color var(--transition-time)
}

@media (max-width: 1200px) {
  .link {
    width: 80%;
  }
  .link svg {
    width: 100%;
    height: auto;
  }
}

.link:hover {
  color: var(--color-black);
}