.root {
  position: relative;
}

/* .button {
  display: inline-block;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.button.rounded {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-shadow: 0px 4px 12px rgba(87, 72, 43, 0.2), 0px 2px 3px rgba(97, 79, 46, 0.1);
}

.button.square {
  width: 40px;
  height: 88px;
  border-radius: 12px;
}

.button.square:hover {
  box-shadow: 0px 4px 12px rgba(87, 72, 43, 0.2), 0px 2px 3px rgba(97, 79, 46, 0.1);
}

.nextButton.rounded {
  right: -24px;
}
.prevButton.rounded {
  left: -24px;
}

.nextButton.square {
  right: -48px;
}
.prevButton.square {
  left: -48px;
}

.prevButton svg {
  transform: rotate(180deg);
} */

.wrapper {
  position: relative;
}