.root {
  background-color: var(--color-white);
  min-height: 56px;
  border-radius: 6px;
  color: var(--color-muted);
  font-size: 20px;
  line-height: 26px;
  width: 100%;
  justify-content: space-between;
  margin-top: var(--gap32);
  transition: color var(--transition-time);
  display: flex;
  position: relative;
}

.root:hover {
  color: var(--color-black);
}

@media (max-width: 1200px) {
  .root {
    min-height: 50px;
    font-size: 16px;
    line-height: 24px;
    margin-top: var(--gap24);
  }
}

@media (max-width: 1200px) {
  .root {
    min-height: 44px;
    font-size: 16px;
    line-height: 22px;
  }
}

.root textarea {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding: var(--gap16) var(--gap24);
  padding-right: 56px;
  border-radius: 6px;
}

.submitButton {
  color: var(--color-black);
  padding: var(--gap20);
  width: 56px;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.submitButton:hover {
  color: var(--color-blue);
}