.root {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-warm-gray-12);
  border-radius: 20px;
  overflow: hidden;
  display: block;
  transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time);
}

.root:hover {
  background-color: var(--color-biege);
  color: var(--color-black);
  border-color: transparent;
}

.root:hover .imgItem{
  border-color: var(--color-biege);
}

.root:hover .button, .root:hover .background {
  opacity: 1;
}

.root:hover .background {
  transform: scale(1.1);
}

.root:hover .counItem {
  border-color: var(--color-biege);
}

.root.wide {
  border-radius: 12px;
}

.root.wide .title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: var(--gap16);
}

.root.wide .content {
  min-height: 260px;
}

.root.wide .description {
  margin-bottom: var(--gap16);
}

.root.wide .contentTitle {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 2px;
}

.root.wide .contentDescriotion  {
  font-size: 14px;
  line-height: 18px;
}

.root.wide .background {
  width: 40%;
  right: 0;
  object-fit: cover;
}

@media (max-width: 992px) {
  .root.wide .background {
    width: 100%;
  }
}

.background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right bottom;
  opacity: 0;
  transition: opacity var(--transition-time), transform var(--transition-time);
}

.content {
  padding: var(--gap32);
  display: flex;
  flex-direction: column;
  min-height: 500px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1200px) {
  .content {
    min-height: 380px;
  }
}

@media (max-width: 992px) {
  .content {
    min-height: 324px;
    padding: var(--gap24);
  }
}

.title {
  margin-bottom: var(--gap16);
}

@media (max-width: 1200px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: var(--gap12);
  }
}

.description {
  margin-bottom: var(--gap24);
}


@media (max-width: 1200px) {
  .description {
    margin-bottom: var(--gap20);
  }
}

.imgList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.imgItem {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-right: -10px;
  box-sizing: content-box;
}

@media (max-width: 1200px) {
  .imgItem {
    margin-right: -11px;
  }
}

.imgItem:first-child {
  border-color: transparent;
}

@media (max-width: 1200px) {
  .imgItem:first-child {
    display: none;
  }
  .imgItem:nth-child(2) {
    border-color: transparent;
  }
}

@media (max-width: 992px) {
  .imgItem:first-child {
    display: block;
  }
  .imgItem:nth-child(2) {
    border-color: var(--color-white);
  }
}

.imgItem img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.countWrap {
  display: flex;
  align-items: center;
}

.counItem {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid var(--color-warm-gray-12);
  border-radius: 100px;
  padding: 11px 8px;
  background-color: var(--color-white);
  margin-right: var(--gap12);
  white-space: nowrap;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: var(--gap12);
}

.contentList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.contentItem {
  margin-right: var(--gap32);
}

@media (max-width: 1200px) {
  .contentItem {
    margin-right: var(--gap16);
  }
}

.contentItem:last-child {
  margin-right: 0;
}

.contentTitle {
  margin-bottom: 2px;
}

@media (max-width: 1200px) {
  .contentTitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
}

.contentDescriotion {
  position: relative;
}

@media (max-width: 1200px) {
  .contentDescriotion {
    font-size: 14px;
    line-height: 18px;
  }
}

.button {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  color: var(--color-white);
  background-color: var(--color-red);
  opacity: 0;
  flex-shrink: 0;
  transition: opacity var(--transition-time)
}

@media (max-width: 1200px) {
  .button {
    width: 40px;
    height: 40px;
  }
}