@media (max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 25px;
    line-height: 30px;
  }
}


.card {
  margin-bottom: var(--gap16);
}

.content {
  margin-bottom: 140px;
}


.sectionTitle {
  margin-bottom: var(--gap36);
}

@media (max-width: 1200px) {
  .sectionTitle {
    margin-bottom: var(--gap20);
  }
}

@media (max-width: 992px) {
  .sectionTitle {
    margin-bottom: var(--gap16);
  }
}
