.root {
  margin-bottom: var(--gap20);
}


@media (max-width: 992px) {
  .root {
    margin-bottom: var(--gap16);
  }
}

.button {
  color: var(--color-blue);
  display: flex;
  align-items: center;
  padding: var(--gap12) 0;
  transition: color var(--transition-time);
}

.button:hover {
  color: var(--color-red);
}

@media (max-width: 992px) {
  .button {
    padding: var(--gap8) 0;
  }
}

.text {
  margin-left: 10px;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 992px) {
  .text {
    font-size: 13px;
    line-height: 16px;
    margin-left: var(--gap8);
  }
}