.root {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-right: var(--gap8);
}

.item:last-child {
  margin-right: 0;
}

.item a {
  color: var(--color-muted);
}