.root {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  background-color: var(--color-white);
  z-index: 20;
  transition: box-shadow var(--transition-time);
}

@media (max-width: 992px) {
  .root {
    height: 64px;
  }

  .root.shadow {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
  box-sizing: content-box;
}

@media (max-width: 992px) {
  .row {
    padding: var(--gap12) 0;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.text {
  text-transform: uppercase;
  padding-left: var(--gap24);
  position: relative;
  letter-spacing: 0.02em;
}

@media (max-width: 992px) {
  .text {
    padding-left: var(--gap12);
    font-size: 10px;
    line-height: 24px;
  }
}

.text::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  width: 1px;
  height: 25px;
  background-color: var(--color-warm-gray-12);
}

/* logo */
.logo {
  margin-right: var(--gap24);
}

@media (max-width: 992px) {
  .logo {
    width: 86px;
    margin-right: var(--gap12);
  }
}

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (max-width: 992px) {
  .list {
    display: none;
  }
}

.listItem {
  margin-left: var(--gap32);
  position: relative;
}

.listItem:hover .dropdown {
  pointer-events: inherit;
  opacity: 1;
}

.button {
  width: 24px;
  height: 40px;
  display: none;
}

@media (max-width: 992px) {
  .button {
    display: flex;
  }
}

.dropdown {
  position: absolute;
  right: 0;
  opacity: 0;
  top: 100%;
  pointer-events: none;
  padding-top: var(--gap16);
  transition: opacity var(--transition-time);
}