.root {
  width: 470px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background-color: var(--color-white);
  padding: var(--gap48) var(--gap40);
  padding-top: var(--gap36);
  position: relative;
}

@media (max-width: 992px) {
  .root {
    width: 100vw;
    border-radius: 20px 20px 0 0;
    padding-bottom: 70px;
  }
  .root:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    background-color: var(--color-warm-gray-12);
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    border-radius: 30px;
  }
}

.image {
  display: block;
  margin: 0 auto;
  margin-bottom: var(--gap28);
}

.title {
  text-align: center;
}

@media (max-width: 992px) {
  .title {
    font-size: 20px;
    line-height: 26px;
  }
}