.root {
  display: block;
  border: 1px solid var(--color-warm-gray-12);
  border-radius: 20px; 
  padding: var(--gap28) var(--gap32);
  margin-bottom: var(--gap16);
  position: relative;
  overflow: hidden;
  transition: color var(--transition-time), border-color var(--transition-time);
}

.root::after {
  content: '';
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  transition: background-color var(--transition-time);
}


@media (max-width: 992px) {
  .root {
    padding: var(--gap20);
  }
}

.root:hover {
  color: var(--color-black);
  border-color: transparent;
}

.root:hover::after {
  background-color: var(--color-biege);
}

.root.disabled {
  pointer-events:none;
}

.globalLink {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  text-indent: -9999px;
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 240px;
  object-fit: cover;
  object-position: center bottom;
  z-index: -1;
}

@media (max-width: 992px) {
  .background {
    height: 100%;
    width: 100%;
    max-width: 350px;
    object-fit: contain;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.content {
  max-width: 623px;
}

@media (max-width: 992px) {
  .content.hasBackground {
    min-height: 285px;
  }
}

.title {
  margin-bottom: var(--gap16);
}

@media (max-width: 992px) {
  .title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: var(--gap8);
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: var(--gap20);
  margin-bottom: var(--gap4);
}

@media (max-width: 992px) {
  .list {
    flex-direction: column;
    align-items: flex-start;
  }
}

.listItem {
  margin-right: var(--gap24);
  display: flex;
}

@media (max-width: 992px) {
  .listItem {
    margin-right: 0;
    margin-bottom: var(--gap8);
  }

  .listItem:last-child {
    margin-bottom: 0;
  }
}


/* .listItem:last-child {
  color: var(--color-muted);
} */

.image {
  margin-right: var(--gap8);
  display: flex;
}

.listItem:last-child {
  margin-right: 0;
}

.listLink {
  position: relative;
  z-index: 3;
  display: flex;
  color: var(--color-muted);
}

