.root {
  margin-bottom: 88px;
}

@media (max-width: 992px) {
  .root {
    margin-bottom: var(--gap44);
  }
}

.block {
  min-height: 464px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1200px) {
  .block {
    min-height: 378px;
  }
}

@media (max-width: 992px) {
  .block {
    margin-left: -24px;
    margin-right: -24px;
    border-radius: 0;
    min-height: 300px;
  }
}

.block::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
  z-index: 2;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: var(--color-white);
  padding: 56px 64px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .content {
    padding: var(--gap40) var(--gap48);
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .content {
    padding: var(--gap32) var(--gap24);
    justify-content: flex-end;
  }
}

.backgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.title {
  margin-bottom: var(--gap24);
}

@media (max-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: var(--gap16);
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: var(--gap12);
  }
}

@media (max-width: 1200px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .text {
    font-size: 14px;
    line-height: 18px;
  }
}


.subMenu {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--color-white);
  z-index: 19;
  pointer-events: none;
  transition: box-shadow var(--transition-time), top var(--transition-time);
}

@media (max-width: 992px) {
  .subMenu {
    display: none;
  }
}

.subMenu.active {
  pointer-events: initial;
  top: 88px;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 16%);
}

.subMenu.active .subContent {
  padding: var(--gap32) 0;
}

.subContent {
  border-top: 1px solid #E3E2E1;
  padding: 0;
  display: flex;
  align-items: center;
  transition: padding var(--transition-time);
}

.subText {
  margin-left: var(--gap12);
}
